.task-description {
    text-overflow: ellipsis;
}

.task-text-container {
    padding-top: 5px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}